<div class="destination">
  <div class="title-fixed">
    <span>01</span>
    <h2>Pick your destination</h2>
  </div>
  <div class="card">
    <nav>
      <a class="active">MOON</a>
      <a>MARS</a>
      <a>EUROPA</a>
      <a>TITAN</a>
    </nav>
     <h1>MOON</h1>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium veniam consectetur neque maxime assumenda quos dolorem nemo incidunt error doloribus.</p>
     <div class="line"></div>
     <div class="footer">
       <div class="footer-dis">
         <h2>AVG. DISTANCE</h2>
         <h3>384,400 km</h3>
       </div>
       <div class="footer-time">
         <h2>EST. TRAVEL TIME</h2>
         <h3>3 DAYS</h3>
       </div>
     </div>
  </div>
</div>
